@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&family=Satisfy&display=swap');
body {
  background-image: url('/public/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}



.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: #3d0247;
  font-family: 'Satisfy';
  text-shadow: 0 8px 6px #c5a5c1;
}

.input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.add-button {
  background-color: transparent;
  color: #2f1f57;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
  box-sizing: border-box;
  
}

.add-button:hover {
color: #5a4985;
}

.todo-list {
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1e4f5d2;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.todo-text {
  font-size: 1.2em;
  flex: 1;
}

.todo-actions {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  color: #2f1f57;
  cursor: pointer;
  font-size: 1.5em;
}

.delete-button {
  color: #782a86;
}

.edit-button:hover {
  color: #6c5399;
}

.delete-button:hover {
  color: #3d0247;
}

@media (max-width: 350px) {
  h1 {
    font-size: 40px;
  }

  input {
    font-size: 0.9em;
    padding: 8px;
  }

  .add-button {
    font-size: 30px;
    padding: 8px 10px;
  }

  .todo-text {
    font-size: 1em;
  }

  .todo-item {
    padding: 5px;
  }

  .edit-button,
  .delete-button {
    font-size: 1em;
  }
}
